<div class="home-container">
  <!-- style="width: 80%; margin: auto; border: 1px black solid;"> -->
  <app-search-country
    (onSearch)="reset($event)"
    (onFilter)="reset($event)"
  ></app-search-country>
  <app-loading *ngIf="isLoading" style="margin-left: 200px;"></app-loading>
  <div class="card-container">
    <div class="card-list" *ngFor="let country of countryList">
      <a [routerLink]="['name', country.name]" class="country-link">
        <div *ngIf="countryList.length && !isLoading">
          <img src="{{ country.flag }}"/>
          <h3>{{ country.name }}</h3>
          <p>population: {{ country.population }}</p>
          <p>region: {{ country.region }}</p>
          <p>capital: {{ country.capital }}</p>
        </div>
      </a>
    </div>
    <div *ngIf="countryList.length === 0 && !isLoading" >
      <img src={{noDataImg}} style="margin-left: 100px;"  >
      <h3 style=" color: var(--no-data-text-color);  margin-top: 20px;">This country does not exist in this region, please select the correct one and try again</h3>
    </div>
  </div>
</div>
