.back-to-home-btn {
text-decoration: none;
  width: 80px;
  padding: 10px;
  background-color: #57b894;
  box-shadow: 1px silver;
  color: white;
  font-weight: bold;
  border-radius: 0.25rem;
  margin-left: 630px;
}