.header {
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
    margin: auto;
    height:3rem ;
}
.dark-mode-btn {
    background: transparent;
    color: var(--text-color);
    cursor: pointer;

}

.header-title{
   color: var(--text-color);
}