<div class="header">
    <h1 class="header-title">Where in the world?</h1>
    <div style="margin-top: 15px; margin-left: 600px;" >
    <a routerLink="/login" class="login-link">Login</a>
    <a routerLink="/signup" class="signup-link" >Sign up</a>
    </div>
    <!-- <div>
      <button class="logout-link" (click)="logout()" >Log out</button>
    </div> -->
    <button class="dark-mode-btn" (click)='changeTheme()'><i class="far fa-moon" style="margin-right: 10px;"></i>Dark
      Mode</button>
  
  </div>