<div class="county-detail-container">
  <div class="back-btn-div">
    <a class="back-btn" [routerLink]="['../../']">
      <i class="fas fa-arrow-left" style="margin-right: 5px"></i>
      Back
    </a>
  </div>

  <div class="details-container">
    <div class="img-container">
      <img class="flag-img" src="{{ countryList[0].flag }}" />
    </div>
    <div class="details-container-name-other">
      <div class='country-name-div'>
        <h2 class="country-name">{{ countryList[0].name }}</h2>
      </div>
      <div class="text-container">
        <p class="text-country-one"><span class='bold-text'>Native name: </span>{{ countryList[0].nativeName }}</p>
        <p class="text-country-one"><span class='bold-text'>Population: </span>{{ countryList[0].population }}</p>
        <p class="text-country-one"><span class='bold-text'> Region: </span>{{ countryList[0].region }}</p>
        <p class="text-country-one"><span class='bold-text'>Sub Region: </span>{{ countryList[0].subregion }}</p>
        <p class="text-country-one"><span class='bold-text'>Capital: </span>{{ countryList[0].capital }}</p>
        <p class="text-country-one"><span class='bold-text'>Top Level Domain: </span>{{ countryList[0].topLevelDomain }}
        </p>
        <p class="text-country-one"><span class='bold-text'>Currencies: </span>{{ countryList[0].currencies[0].name }}
        </p>
        <div>
          <span class='bold-text'>languages: </span><span
            *ngFor="let language of countryList[0].languages">{{language.name}} </span>
        </div>
      </div>

      <p class='bold-text'>Countries Borders</p>
      <app-card-button class="button-container-div" [countryBorders]="countryList[0].borders"></app-card-button>
    </div>
  </div>
</div>
