/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dark{
  --header-background-color:#2b3743;
  --text-color: white;
  background-color: #212e37;
}

.light{
  --header-background-color:white;
  --text-color: black;
  background-color: white;
}
