<div class="login-form-container">
    <div style="margin-top: 30px; display: flex; flex-direction: column; align-items: center;" >
    <h2 style="color: var(--text-color); margin-bottom: 30px;" >Welcome Back</h2>

    <button class="login-btn" >Login with Google</button>
    <button class="login-btn">Login with Facebook</button>
    <button class="login-btn">Login with Github</button>

    <p style="margin-top: 30px; color: var(--text-color);" >OR Login with your Email</p>

    <form  #loginForm="ngForm" (ngSubmit)="login()" style="display: flex; width: 100%; align-items: center; flex-direction: column;" >
    <input type="text" placeholder="Email Address" class="input-login" [(ngModel)]="email" name="email">

    <input type="password" placeholder="Password" class="input-login" [(ngModel)]="password" name="password">

    <button type="submit" class="login-btn" (click)="login()" >Login</button>
    <p style="margin-top: 30px; color: var(--text-color);">Don't have account? <span routerLink="/signup" style="font-weight: bold; color: var(--text-color);  cursor: pointer;" >Sign up</span></p>

    </form>
    
    </div>

</div>
