/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dark{
  --header-background-color:#2b3743;
  --text-color: white;
  --shadow-color:#2b3743;
  background-color: #212e37;
  --no-data-text-color: #c2e9f9;
}

.light{
  --header-background-color:white;
  --text-color: black;
  --shadow-color: lightgray;
  background-color: #fafafa;
  --no-data-text-color: #545e65;
}
