<div>
    <button class="back-btn">
        <i class="fas fa-arrow-left" style="margin-right: 5px;" ></i>
        Back</button>
    <div class="details-container" >
        <div class="img-container" >
            <img class="flag-img" src="https://restcountries.eu/data/afg.svg">
        </div>

        <h2>Palestine</h2>

        <div class="text-container">
            <div>
                <p>name: gaza</p>
                <p>name: gaza</p>
                <p>name: gaza</p>
                <p>name: gaza</p>
                <p>name: gaza</p>
            </div>

            <div>
                <p>name: gaza</p>
                <p>name: gaza</p>
                <p>name: gaza</p>
            </div>            
        </div>
        <div class="btn-container" >
            <button>Cairo</button>
            <button>Cairo</button>
            <button>Cairo</button>
            <button>Cairo</button>

        </div>
    </div>
</div>