<div>
  <button class="back-btn">
    <i class="fas fa-arrow-left" style="margin-right: 5px"></i>
    Back
  </button>

  <div class="details-container" *ngFor="let country of countryList">
    <div class="img-container">
      <img class="flag-img" src="{{ country.flag }}" />
    </div>

    <h2>{{ country.name }}</h2>

    <div class="text-container">
      <div>
        <p>Native name: {{ country.nativeName }}</p>
        <p>Population: {{ country.population }}</p>
        <p>Region: {{ country.region }}</p>
        <p>Sub Region: {{ country.subregion }}</p>
        <p>Capital: {{ country.capital }}</p>
      </div>

      <div>
        <p>Top Level Domain: {{ country.topLevelDomain }}</p>

        <p>Currencies: {{ country.currencies[0].name }}</p>

        <p>Languages: {{ country.languages[0].name }}</p>
      </div>
      
    </div>

    <div>
      <p>Countries Borders</p>
      <a>{{country.borders}}</a>       
    </div>

    

  </div>
  
</div>
