.back-btn{
    width: 80px;
    padding: 10px;
    margin-left: 130px;
    margin-top: 50px;
    background: transparent;
    border: solid silver 1px;
    box-shadow: 1px silver;

}

.details-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border: solid red 1px;
    display: flex;
    /* height: 100vh; */

}

.img-container {
    border: solid blue 1px;
    width: 40%;
    height: 40vh;

}

.flag-img{
    width: 90%;
}

.text-container {
    display: flex;
    width: 30%;
    border: solid black 1px;
    height: 30vh;
    /* display: inline-flex; */
    justify-content: space-between;
    /* height: 50vh; */
    

}

.btn-container {
    width: 30%;
    border: solid purple 1px;
    display: flex;
    justify-content: center;
    /* margin-left: 300px; */
    justify-content: space-between;
    /* justify-content: center; */
    /* flex-direction: column;
    align-items: flex-end; */
    
}


