<div style="width: 80%; margin: auto; border: 1px black solid;">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)" >
        <i class="fas fa-search" style="color: lightgray; margin-left: 10px;"></i>
        <input type="text" name="name" placeholder="Search for a country ..."
         class="search-input" (ngModel)="search" >
    </form>
    <select [(ngModel)]="sortby" (onchange)="onFilterChanged()" name="sortby" class="category">
        <option selected >Filter by region</option>
        <option>Africa</option>
        <option>America</option>
        <option>Asia</option>
        <option>Europe</option>
        <option>Oceania</option>

    </select>

    
</div>
