<div style="width: 80%; margin: auto; border: 1px black solid;">
    <i class="fas fa-search" style="color: lightgray; margin-left: 10px;"></i>
    <input type="text" placeholder="Search for a country ..." class="search-input">

    <select name="regions" class="category">
        <option selected >Filter by region</option>
        <option>Africa</option>
        <option>America</option>
        <option>Asia</option>
        <option>Europe</option>
        <option>Oceania</option>

    </select>
</div>
