.search-input {
    width: 30%;
    border: solid whitesmoke 1px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px whitesmoke;
}

.category {
    background-color: white;
    width: 15%;
    border: solid whitesmoke 1px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px whitesmoke;
    margin-left: 300px;
}
